@import url("https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #b8defa;
}

#header {
  font-family: 'Fredoka One', cursive;
  background-color: #ffffff;
  width: 50%;
  color: #ffffff;
  line-height: 0.5;
  font-size: 1.7vw;
  letter-spacing: 1.5px;
  border-bottom-right-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}

a {
  text-decoration: none;
  color: #656567;
}

#welcome {
  margin: 10vh 2vw 5vh 2vw;
  font-size: 4.7vw;
  font-family: 'Fredoka One', cursive;
  color: #656567;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
  letter-spacing: 0.8px;
}

.page {
  margin: 10vh 5vw 0 5vw;
  color: #ffffff;
  font-size: 22vw;
  font-family: 'Fredoka One', cursive;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1vw;
}

.box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 6%;
  width: 20vw;
  height: 19vw;
}

.pan {
  position: absolute;
  border-radius: 50%;
  background: #3E3E3F;
  width: 92%;
  height: 97%;
  -webkit-animation: shake 8s linear infinite;
          animation: shake 8s linear infinite;
}

.pan:active {
  -webkit-animation: push 0.6s ease-out;
          animation: push 0.6s ease-out;
}

.pan:active .egg {
  -webkit-animation: pop 0.5s 0.14s ease-out;
          animation: pop 0.5s 0.14s ease-out;
}

.egg {
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  height: 60%;
  width: 55%;
  top: 20%;
  left: 18%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: move 6s linear infinite;
          animation: move 6s linear infinite;
  -webkit-animation: bubble 2.5s linear alternate infinite;
          animation: bubble 2.5s linear alternate infinite;
}

.yolk {
  position: absolute;
  border-radius: 50%;
  background: #F0993C;
  height: 40%;
  width: 45%;
  top: 30%;
  left: 18%;
  -webkit-animation: bubble 1.5s linear alternate infinite;
          animation: bubble 1.5s linear alternate infinite;
}

.handle {
  position: absolute;
  width: 60%;
  background: #3E3E3F;
  height: 18%;
  right: -30%;
  top: 0%;
  border-radius: 50px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.hole {
  position: absolute;
  border-radius: 50%;
  background: #b8defa;
  height: 65%;
  width: 20%;
  top: 17.5%;
  left: 75%;
}

.mike {
  position: absolute;
  bottom: 2vh;
  left: 44vw;
  color: #656567;
  font-family: 'Fredoka One', cursive;
  font-size: 12px;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: rotate(0) scale(0.98);
            transform: rotate(0) scale(0.98);
  }
  10% {
    -webkit-transform: rotate(0) scale(1.01);
            transform: rotate(0) scale(1.01);
  }
  20% {
    -webkit-transform: rotate(2deg) scale(0.997);
            transform: rotate(2deg) scale(0.997);
  }
  25% {
    -webkit-transform: rotate(2deg) scale(0.998);
            transform: rotate(2deg) scale(0.998);
  }
  30% {
    -webkit-transform: rotate(2deg) scale(1.01);
            transform: rotate(2deg) scale(1.01);
  }
  40% {
    -webkit-transform: rotate(-2deg) scale(0.995);
            transform: rotate(-2deg) scale(0.995);
  }
  50% {
    -webkit-transform: rotate(-2deg) scale(1);
            transform: rotate(-2deg) scale(1);
  }
  60% {
    -webkit-transform: rotate(-3deg) scale(0.996);
            transform: rotate(-3deg) scale(0.996);
  }
  80% {
    -webkit-transform: rotate(1deg) scale(1);
            transform: rotate(1deg) scale(1);
  }
  90% {
    -webkit-transform: rotate(1deg) scale(0.997);
            transform: rotate(1deg) scale(0.997);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: rotate(0) scale(0.98);
            transform: rotate(0) scale(0.98);
  }
  10% {
    -webkit-transform: rotate(0) scale(1.01);
            transform: rotate(0) scale(1.01);
  }
  20% {
    -webkit-transform: rotate(2deg) scale(0.997);
            transform: rotate(2deg) scale(0.997);
  }
  25% {
    -webkit-transform: rotate(2deg) scale(0.998);
            transform: rotate(2deg) scale(0.998);
  }
  30% {
    -webkit-transform: rotate(2deg) scale(1.01);
            transform: rotate(2deg) scale(1.01);
  }
  40% {
    -webkit-transform: rotate(-2deg) scale(0.995);
            transform: rotate(-2deg) scale(0.995);
  }
  50% {
    -webkit-transform: rotate(-2deg) scale(1);
            transform: rotate(-2deg) scale(1);
  }
  60% {
    -webkit-transform: rotate(-3deg) scale(0.996);
            transform: rotate(-3deg) scale(0.996);
  }
  80% {
    -webkit-transform: rotate(1deg) scale(1);
            transform: rotate(1deg) scale(1);
  }
  90% {
    -webkit-transform: rotate(1deg) scale(0.997);
            transform: rotate(1deg) scale(0.997);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  4% {
    -webkit-transform: translate(8px, -8px);
            transform: translate(8px, -8px);
  }
  6% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  7% {
    -webkit-transform: translate(-4px, 4px);
            transform: translate(-4px, 4px);
  }
  12% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  4% {
    -webkit-transform: translate(8px, -8px);
            transform: translate(8px, -8px);
  }
  6% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  7% {
    -webkit-transform: translate(-4px, 4px);
            transform: translate(-4px, 4px);
  }
  12% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
  }
  4% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  8% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
  }
  4% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  8% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes push {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  25% {
    -webkit-transform: scale(0.9) translateZ(0);
            transform: scale(0.9) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.04) translateZ(0);
            transform: scale(1.04) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@keyframes push {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  25% {
    -webkit-transform: scale(0.9) translateZ(0);
            transform: scale(0.9) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.04) translateZ(0);
            transform: scale(1.04) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: rotate(0) scale(1) translateZ(0);
            transform: rotate(0) scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(20deg) scale(1.4) translateZ(0);
            transform: rotate(20deg) scale(1.4) translateZ(0);
  }
  80% {
    -webkit-transform: rotate(0) scale(0.8) translateZ(0);
            transform: rotate(0) scale(0.8) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) translateZ(0);
            transform: rotate(0) scale(1) translateZ(0);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: rotate(0) scale(1) translateZ(0);
            transform: rotate(0) scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: rotate(20deg) scale(1.4) translateZ(0);
            transform: rotate(20deg) scale(1.4) translateZ(0);
  }
  80% {
    -webkit-transform: rotate(0) scale(0.8) translateZ(0);
            transform: rotate(0) scale(0.8) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) translateZ(0);
            transform: rotate(0) scale(1) translateZ(0);
  }
}
/*# sourceMappingURL=layout.css.map */